@model Joomiz.Blog.WebApplication.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    @if(Model.IsEmpty)
    {
    <div class="col-md-12">
        <h2>News are coming</h2>
        <div>
            This blog is installed and ready to receive posts!
        </div>
        <p><a class="btn btn-default" href="~/Dashboard">Go to dashboard</a></p>
    </div>    
    }
    else    
    {
        foreach(var post in Model.Items)
        {
        <div class="col-md-12">
            <h2>@post.Title</h2>
            <div>
                @post.Body
            </div>
            <p><a class="btn btn-default" href="~/Post/@post.Id">Learn more &raquo;</a></p>
        </div>    
        }
    }
</div>